body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
}

/* Hero Section */
.container-fluid {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Specs Section */
#specs {
    background-color: #222;
    padding: 40px;
    border-radius: 10px;
}

/* History Section */
#history {
    background-color: #333;
    padding: 40px;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
}
